.center {
  text-align: center;
}

#crest {
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  font-family: Arial;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  text-decoration: none;
}

body {
  background-color: #DEDEDE;
}
