/*
html{
    background-color: #ffc61e;
}
*/

#nav-big{
    display: block;
}

#nav-small{
    display: none;
}

.blue {
    color: #09268a;
}

.yellow {
    color: #ffc61e;
}

@media only screen and (max-width:600px){
    #nav-big{
        display: none;
    }

    #nav-small{
        display: block;
    }
}

#nav-title-small {
    font-size: 100%;
}

/*
#menu-img {
    height: 40px;
}
*/

@media only screen and (max-width:450px) {
    #nav-title-small {
        font-size: 70%;
        margin-top: 5px;
        padding: 8px 0px 8px;
    }
}

/*#showcase {
    /*background: url("../static/images/who.jpg") no-repeat;
    background:  no-repeat;
    background-size: contain;
    background-position: center;
}

.slides{
    display:none;
}*/

#showcase {
    position: relative;
    width: 100%;
}

#slides {
    width: 100%;
}

#showcase-text-bg{
    position: absolute;
    width: 40%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #DFDFDF;
    opacity: 0.6;
    border: 5px solid #09268a;
}

#showcase-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #09268a;
    font-size: 4vw;
    /*font-family: 'Courier New', monospace;
    font-family: Impact, Haettenschweiler, sans-serif;
    font-weight: bold;*/
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

#header {
    padding-top: 50px;
}

.coa {
    width:15%;
    max-width:180px;
}
.kky-big {
    width:50%;
    max-width:600px
}

.title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    width: 35%;
    min-width: 200px;
    background-color: #DFDFDF;
    border: 2px solid #09268a;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.title h1 {
    font-size: max(20px,3vw);
}

.bottom-margin{
    margin-bottom:70px;
}

.value{
    margin-bottom: 20px;
    border-bottom: 2px solid #ffc61e;
}

.value-section {
    width: 90%;
    margin-left: 5%;
}

.value-img {
    width:100%;
}

.updates-section {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
}

.updates-img {
    width: 100%;
}

article {
    width: 90%;
    margin-left: 5%;
}

article header {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    color:#09268a;
}

article p {
    font-size: 17px;
    margin-bottom: 50px;
}

#history-1 {
    width: 100%;
    border: 5px solid #09268a;
}

#history-2 {
    width: 33.33%;
    border-left: 5px solid #09268a;
    border-bottom: 5px solid #09268a;
    border-right: 5px solid #09268a;
}

#history-3 {
    width: 33.33%;
    border-bottom: 5px solid #09268a;
}

#history-4 {
    width: 33.33%;
    border-left: 5px solid #09268a;
    border-bottom: 5px solid #09268a;
    border-right: 5px solid #09268a;
}

#history-right img{
    margin-bottom: 50px;
}

#history-right p{
    padding-bottom: 25px;
    border-bottom: 2px solid #ffc61e;
}

.leader-section {
    border-bottom: 2px solid #ffc61e;
}

.leadership {
    margin-left:15%;
    width:70%;
}

.leadership img{
    width: 100%;
}

.border-img{
    border: 5px solid #09268a;
}

.chair-img {
    display: flex;
}

.cochair-left{
    margin-left: 15%;
    width: 35%;
    float: left;
    border-top: 5px solid #09268a;
    border-left: 5px solid #09268a;
    border-bottom: 5px solid #09268a;
}

.cochair-right{
    width: 35%;
    float: left;
    border-top: 5px solid #09268a;
    border-right: 5px solid #09268a;
    border-bottom: 5px solid #09268a;
}

@media only screen and (max-width:600px) {
    .leadership {
        margin-left: 5%;
        width: 90%;
    }

    .cochair-left {
        margin-left: 5%;
        width: 45%;
    }

    .cochair-right {
        width: 45%;
    }
}

#fam-trees{
    width: 100%;
}

#life-and-honorary-header {
    width: 60%;
    margin-left: 20%;
    text-align: center;
    font-size: max(18px,2.5vw);
}

@media only screen and (max-width:600px) {
    #life-and-honorary-header {
        width: 90%;
        margin-left: 5%;
        text-align: center;
        font-size: max(18px,2.5vw);
    }
}

#life-and-honorary{
    display: flex;
    flex-wrap: wrap;
}

.life-and-honorary-col-1{
    float: left;
    width: 29%;
    margin: 5px 1% 5px 3%;
    text-align: center;
}

.life-and-honorary-col-2{
    float: left;
    width: 29%;
    margin: 5px 2.5% 5px 2.5%;
    text-align: center;
}

.life-and-honorary-col-3{
    float: left;
    width: 29%;
    margin: 5px 3% 5px 1%;
    text-align: center;
}

#Jon-Heidegger{
    width: 100%;
}

.dart-button {
    font-size: min(20px, max(8.5px, 2vw));
    background-color: #09268a;
    color: white;
}

.dart {
    width: 100%;
    max-width: 840px;
    height: 600px;
    margin: auto;
}

.footer-section {
    margin-left: 5%;
    width: 90%;
}

.social-media {
    margin: 0px 10px;
    text-decoration: none;
}

/*
body{
    margin-top:80px;
}


@media only screen and (max-width:1242px) and (min-width:917px){
    body{
        margin-top:114px;
    }
}

@media only screen and (max-width:916px) and (min-width:601px){
    body{
        margin-top:148px;
    }
}

@media only screen and (max-width:600px){
    body{
        margin-top:250px;
    }
}
*/
